.inbox_container {
  .users-pane {
    width: 30%;
    background-color: #f8f9fa;
  }

  .user-item {
    cursor: pointer;
    transition: background-color 0.3s;

    &.active {
      background-color: #e9ecef;
    }

    &:hover {
      background-color: #e2e6ea;
    }
  }

  .messages-pane {
    background-color: #ffffff;
    border-left: 1px solid #dee2e6;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;

    .header {
      flex-shrink: 0;
    }
    .chat-container {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      overflow: hidden;
    }

    .messages {
      flex-grow: 1;
      overflow-y: auto;
      padding: 10px;
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      position: relative;

      .message:first-child {
        margin-top: auto;
      }
      .message {
        padding: 5px;
        margin: 5px 0;

        &.sent {
          text-align: right;
        }

        &.received {
          text-align: left;
        }

        strong {
          display: inline-block;
        }
      }

      .scroll-to-bottom {
        // position: absolute;
        bottom: 10px;
        padding: 10px;
        right: 50%;
        transform: translateX(50%);
        animation: pulse 3s infinite ease-in-out;
        // top: -100%;
        position: sticky;
        display: flex;
        width: fit-content;
        margin: auto;

        &::after {
          content: '';
          display: block;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 10px 10px 0 0;
          border-color: #ccc transparent transparent transparent;
          position: absolute;
          left: 50%;
          top: 70%;
          transform: translateX(-50%) rotate(225deg);
        }
        &-icon {
          height: 20px;
          width: 20px;
          border-radius: $border-radius-rounded;
          background-color: $white;
        }
      }
    }

    .input-container {
      display: flex;
      align-items: center;
      padding-top: 10px;
      border-top: 1px solid #ccc;
      position: relative;

      .message-input {
        flex: 1;
        margin-right: 10px;
        padding: 10px;
      }

      .send-button {
        padding: 10px 20px;
      }
    }
  }
}

.chat-loading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  padding: 10px;
  height: 100%;

  .bubble {
    flex-grow: 1;
    height: 10%;
    border-radius: 15px;
    overflow: hidden;

    &.received {
      align-self: flex-start;
      width: 60%;
    }

    &.sent {
      align-self: flex-end;
      width: 60%;
    }

    &.placeholder {
      background: linear-gradient(
        100deg,
        #f0f0f0 25%,
        #e0e0e0 50%,
        #f0f0f0 75%
      );
      background-size: 200% 100%;
      animation: gradient 1.5s infinite ease-in-out;
    }
  }
}

@keyframes gradient {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: translateX(50%) scale(1);
  }
  50% {
    transform: translateX(50%) scale(1.05); /* Grow slightly */
  }
}
