.menu-bar {
  background-color: #fff;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
  position: relative;
  left: 0;
  top: 0;
  height: 100vh;
  width: 55px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.menu-button {
  background: none;
  border: none;
  color: #333;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  transition: color 0.3s;

  &:hover {
    color: #007bff;
  }

  svg {
    font-size: 1.3rem;
  }

  span {
    margin-top: 5px;
    font-size: 12px;
    display: none;
  }
}

.menu-button:hover span {
  display: block;
}
