.menu-bar {
  background-color: #fff;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
  position: relative;
  left: 0;
  top: 0;
  height: 100vh;
  width: 55px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.menu-button {
  background: none;
  border: none;
  color: #333;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  transition: color 0.3s;

  &:hover {
    color: #007bff;
  }

  svg {
    font-size: 1.3rem;
  }

  .icon.inbox {
    position: relative;
    &::after {
      position: absolute;
      content: attr(data-notifications);
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $danger;
      border-radius: 50%;
      color: $white;
      height: 16px;
      width: 16px;
      font-size: 14px;
      top: -4px;
      right: -5px;
    }
    &[data-notifications='']::after {
      content: '';
      display: none;
    }
  }

  .title {
    margin-top: 5px;
    font-size: 12px;
    display: none;
  }
}

.menu-button:hover span {
  display: block;
}

.search-bar {
  position: absolute;
  top: 0;
  left: 55px; /* Adjust based on your menu width */
  min-width: 340px;
  width: 30%;
  height: 100vh; /* Full height */
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 999;
  input {
    flex: 1; /* Take up remaining space */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
  }

  button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }

  button:hover {
    background-color: #0056b3;
  }

  .result_container {
    .spinner {
      width: 50px;
    }
    .user-item {
      display: flex;
      align-items: center;
      gap: 0.75rem;
      // padding: 0.5rem 0;
      border-bottom: 1px solid #e0e0e0;

      &:last-child {
        border-bottom: none;
      }

      &__image {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        border: 1px solid #dbdbdb;
      }

      &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      &__name {
        font-size: 0.9rem;
        color: #333;
        margin: 0;
        font-weight: 600;
      }

      &__username {
        letter-spacing: 0.55px;
        font-size: 0.8rem;
        color: #8e8e8e;
        margin: 0;
      }
    }

    .no-user {
      text-align: center;
      color: #8e8e8e;
      font-size: 1rem;
      margin: 1rem 0;
    }
  }
}
