@use '@styles/scss.import.scss' as *;

.dark {
  .ant-btn:hover {
    color: $secondary-color !important;
    border-color: $secondary-color !important;
  }

  .ant-dropdown-menu-custom {
    background-color: #1f1f1f !important;
    color: #f5f5f5 !important;
  }

  .ant-dropdown-menu-custom .ant-dropdown-menu-item:hover {
    background-color: #333 !important;
  }
}

.ant-form .ant-form-item {
  margin-bottom: 12px;
}
.ant-form.form-pb4 {
  .ant-form-item-label {
    padding: 0 0 4px !important;
  }
  .ant-form-item-control .ant-radio-label {
    padding-left: 4px !important;
  }
  .ant-radio-wrapper.ant-radio-wrapper-in-form-item {
    margin-inline-end: 20px !important;
  }
}

.ant-form .ant-radio-wrapper.ant-radio-wrapper-in-form-item {
  align-items: center !important;
}

.ant-spin-fullscreen.ant-spin-fullscreen-show {
  background-color: $primary-light-transparent !important;
  .ant-spin.ant-spin-spinning {
    background-color: transparent !important;
    .ant-spin-dot-holder {
      color: $primary-color1 !important;
    }
  }
}

.ant-upload-list-item {
  border: none !important;
  padding: 0 !important;
  &.ant-upload-list-item-done,
  &.ant-upload-list-item-undefined {
    &::before {
      height: 100% !important;
      width: 100% !important;
    }
  }
}

.ant-menu {
  .ant-menu-sub {
    .ant-menu-item-group {
      cursor: pointer !important;
    }
  }
  .community-submenu {
    li {
      padding-left: 30px !important;
    }
  }
}
.ant-carousel {
  .ant-image {
    width: 100% !important;
    height: 100% !important;
    .ant-image-img {
      object-fit: scale-down !important;
      height: inherit;
      width: inherit;
    }
  }

  .slick-prev,
  .slick-next {
    background-color: rgba(0, 0, 0, 0.5) !important;
    width: 32px;
    height: 32px;
    z-index: 10;
    border-radius: 9999px;
    display: flex !important;
    align-items: center;
    justify-content: center;
  }

  .slick-prev::after,
  .slick-next::after {
    color: white !important;
    font-size: 20px;
    top: 0px !important;
    position: relative !important;
  }

  .slick-next::after {
    translate: -35% 0% !important;
  }

  .carousel-dots-dark li button {
    background: rgba(0, 0, 0, 0.4) !important;
  }

  .carousel-dots-dark li.slick-active {
    button {
      background: rgba(0, 0, 0, 0.8) !important;
    }
    &::after {
    }
  }
}
