@use '@styles/scss.import.scss' as *;

.ant-form .ant-form-item {
  margin-bottom: 12px;
}
.ant-form.form-pb4 {
  .ant-form-item-label {
    padding: 0 0 4px !important;
  }
  .ant-form-item-control .ant-radio-label {
    padding-left: 4px !important;
  }
  .ant-radio-wrapper.ant-radio-wrapper-in-form-item {
    margin-inline-end: 20px !important;
  }
}

.ant-form .ant-radio-wrapper.ant-radio-wrapper-in-form-item {
  align-items: center !important;
}

.ant-spin-fullscreen.ant-spin-fullscreen-show {
  background-color: $primary-light-transparent !important;
  .ant-spin.ant-spin-spinning {
    background-color: transparent !important;
    .ant-spin-dot-holder {
      color: $primary-color1 !important;
    }
  }
}

.ant-upload-list-item {
  border: none !important;
  padding: 0 !important;
  &.ant-upload-list-item-done,
  &.ant-upload-list-item-undefined {
    &::before {
      height: 100% !important;
      width: 100% !important;
    }
  }
}
