// @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@use '@styles/scss.import.scss' as *;

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: sans-serif;
  /* Optional */
  scroll-behavior: smooth;
  background-color: #fff;
  /* or your theme background */
  overflow-x: hidden;
}

:root {
  line-height: 1.5;
  background-color: $white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
  width: 100%;
  isolation: isolate;
  /* Helps with stacking context issues */
  display: flex;
  flex-direction: column;
  font-family: 'Noto Sans', sans-serif;
}

a {
  text-decoration: none;
}

.header_style {
  font-family: 'Merriweather', serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2.6rem;
}

.sub-header_style {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.7rem;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.body_style {
  font-family: 'Noto Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

.text-divider {
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    margin: 0 4px;
  }
  &::before {
    content: '';
    flex: 1;
    height: 1px;
    background-color: #e6e6e6;
    width: 40%;
    background-image: linear-gradient(right, #e6e6e6 50%, white 98%);
    background-image: -o-linear-gradient(right, #e6e6e6 50%, white 98%);
    background-image: -moz-linear-gradient(right, #e6e6e6 50%, white 98%);
    background-image: -webkit-linear-gradient(right, #e6e6e6 50%, white 98%);
    background-image: -ms-linear-gradient(right, #e6e6e6 50%, white 98%);
    background-image: -webkit-gradient(
      linear,
      right bottom,
      left bottom,
      color-stop(0.5, $gray),
      color-stop(0.98, white)
    );
  }
  &::after {
    content: '';
    flex: 1;
    height: 1px;
    background-color: #e6e6e6;
    width: 40%;
    background-image: linear-gradient(left, #e6e6e6 50%, white 98%);
    background-image: -o-linear-gradient(left, #e6e6e6 50%, white 98%);
    background-image: -moz-linear-gradient(left, #e6e6e6 50%, white 98%);
    background-image: -webkit-linear-gradient(left, #e6e6e6 50%, white 98%);
    background-image: -ms-linear-gradient(left, #e6e6e6 50%, white 98%);
    background-image: -webkit-gradient(
      linear,
      left bottom,
      right bottom,
      color-stop(0.5, $gray),
      color-stop(0.98, white)
    );
  }
}

.red-text {
  color: $danger;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.thin-scrollbar {
  @include thin-scrollbar;
}

.hidden-scrollbar {
  & {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  &::-webkit-scrollbar {
    display: none;
  }
}

.custom-scrollbar {
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.btn {
  background-color: $primary-color1;
  color: white;
  font-weight: 600;
  padding: 6px 8px;
  @include apply-styles($border-styles);
  border-color: transparent !important;
  &:hover {
    @include apply-styles($btn-shadow-styles);
  }
  &.btn-red {
    background-color: $danger;
    transition: 300ms;
    &:hover {
      background-color: $white;
      @include apply-styles($btn-red-shadow-styles);
    }
  }

  &:has(.btn-spinner) {
    position: relative;
    background-color: $gray !important;
    color: $gray !important;
    pointer-events: none;
    border: none !important;
  }
  .btn-spinner {
    color: $white;
    width: -webkit-fill-available;
    margin: auto;
    padding: 5px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgb(255 255 255 / 42%);
    height: -webkit-fill-available;
  }
}

.btn:disabled {
  background-color: $gray;
  color: $black;
}

.radio-group {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;

  .radio-group_error {
    position: absolute;
    bottom: -1.15rem;
    left: 10px;
    font-size: 0.72rem;
    color: $danger;
  }
  & > div {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    .radio-group_input[type='radio'] {
      display: none;
      &:checked + label {
        background-color: #007bff;
        color: white;
        border-color: #007bff;
      }
    }

    .radio-group_label {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      background-color: transparent;
      white-space: nowrap;
      // transition: background-color 0.3s ease;
      @include apply-styles($dotted-border);
      &:hover {
        background-color: #ddd;
      }
      span {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.input-group {
  position: relative;
  .input-group_input {
    @include fs-6;
    @include apply-styles($border-styles);
    padding-left: 10px !important;
    padding-right: 10px !important;
    background-color: transparent;
    outline: none;
    width: 100%;
    padding: 0.5rem 1rem;
    transition: all 0.15s ease-out;
    font-size: 1rem;
    &::placeholder {
      font-size: inherit;
    }
    &:focus {
      // border: 2px solid $gray;
      -webkit-box-shadow: 0px 0px 0px 1px $gray;
      -moz-box-shadow: 0px 0px 0px 1px $gray;
      box-shadow: 0px 0px 0px 1px $gray;
    }
    &:focus ~ .input-group_label,
    &:not(:required):not(:placeholder-shown) ~ .input-group_label,
    &:required:valid ~ .input-group_label {
      top: 0px;
      background-color: $white;
      font-size: 0.85rem;
      color: black;
      .input-group_label_icon {
        font-size: 1.1rem;
        margin-right: 1px;
      }
    }
  }
  .input-group_label {
    position: absolute;
    font-size: 0.9rem;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: all 0.2s ease-out;
    color: $gray;
    .input-group_label_icon {
      transition: all 0.2s ease-out;
      font-size: 1.35rem;
      margin-right: 4px;
      margin-left: 2px;
    }
  }
  .input-group_error {
    position: absolute;
    bottom: -1.15rem;
    left: 10px;
    font-size: 0.72rem;
    color: $danger;
  }
}

.react-select-group {
  @include fs-6;
  position: relative;
  .async-select .select__menu {
    position: relative;
  }
  .select__menu-list {
    @include thin-scrollbar;
  }
  .select__control--is-focused {
    -webkit-box-shadow: 0px 0px 0px 1px $gray !important;
    -moz-box-shadow: 0px 0px 0px 1px $gray !important;
    box-shadow: 0px 0px 0px 1px $gray !important;
  }
  .async-select:has(.select__control--is-focused) ~ .react-select-group_label,
  .async-select:has(.select__control > .select__value-container--has-value)
    ~ .react-select-group_label {
    top: 0px;
    background-color: white;
    font-size: 0.85rem;
    color: black;
  }
  .react-select-group_label {
    position: absolute;
    z-index: 2;
    font-size: 0.9rem;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: 0.2s;
    color: $gray;
  }
  .react-select-group_error {
    position: absolute;
    bottom: -1.15rem;
    left: 10px;
    font-size: 0.72rem;
    color: $danger;
    transition: 0.3;
  }
}

.async-select {
  .select__control {
    @include apply-styles($border-styles);
    box-shadow: none;
    .select__placeholder {
      font-size: 0.9rem;
      color: $gray;
    }
    &--is-focused {
      .select__placeholder {
        color: red;
      }
    }
  }
}

.tooltip {
  position: relative;
  opacity: 1;
  &::before {
    content: attr(data-tooltip);
    position: absolute;
    font-size: $tooltip-fs;
    top: 50%;

    left: 100%;
    margin-left: 15px;
    // width: 200px;
    padding: 10px;
    border-radius: 10px;
    background: #000;
    color: #fff;
    text-align: center;

    display: none;
    opacity: 0;
    transform: translateY(-50%) scale(0);
    transition: all 0.35s;
  }
  &::after {
    content: '';
    position: absolute;

    left: 200%;
    // left: 100%;
    margin-left: -5px;

    top: 50%;

    border: 10px solid #000;
    border-color: transparent black transparent transparent;

    display: none;

    opacity: 0;
    transform-origin: right center;
    transform: translateY(-50%) scale(0);
    transition: all 0.35s;
  }
  &:hover::before,
  &:hover::after {
    display: block;

    animation: hoverDelay 0.35s 0.8s forwards;
  }
  &.left::before {
    left: initial;
    margin: initial;

    right: 100%;
    margin-right: 15px;
  }
  &.right::before {
    right: initial;
  }
}
@keyframes hoverDelay {
  to {
    opacity: 1;
    left: 100%;
    transform: translateY(-50%) scale(1);
  }
}
