@use '@styles/scss.import.scss' as *;

.notification-container {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;

  .notification {
    position: relative;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    opacity: 1;
    transition: all 0.3s ease;
    animation: slideIn 0.3s ease-out;

    .notification-header {
      font-weight: bold;
      align-self: self-start;
    }

    .notification-message {
      font-size: 14px;
      margin-top: 8px;
      align-self: self-start;
    }

    .close-btn {
      background: none;
      border: none;
      font-size: 18px;
      cursor: pointer;
      margin-left: 10px;
      position: absolute;
      top: 0px;
      right: 0px;
    }

    &.slide-out {
      animation: slideOut 1s ease forwards;
    }

    &.info {
      background-color: $info;
      color: $black;
      .close-btn {
        color: $black;
      }
    }
    &.error {
      background-color: $danger;
      color: $white;
      .close-btn {
        color: $white;
      }
    }
  }
}

/* Slide In */
@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-20px); /* Slide up by 20px */
    opacity: 0;
  }
}
