// @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import 'import';

html,
body {
  margin: 0;
}

:root {
  // font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  // font-weight: 400;

  // color-scheme: light dark;
  // color: rgba(255, 255, 255, 0.87);
  background-color: $white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
}

#root {
  min-height: 100vh;
  min-width: 100vw;
  // width: 100%;
  // height: 100%;
  font-family: 'Noto Sans', sans-serif;
}

a {
  text-decoration: none;
}

.header_style {
  font-family: 'Merriweather', serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2.6rem;
}

.sub-header_style {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.7rem;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.body_style {
  font-family: 'Noto Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

.text-divider {
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    margin: 0 4px;
  }
  &::before {
    content: '';
    flex: 1;
    height: 1px;
    background-color: #e6e6e6;
    width: 40%;
    background-image: linear-gradient(right, #e6e6e6 50%, white 98%);
    background-image: -o-linear-gradient(right, #e6e6e6 50%, white 98%);
    background-image: -moz-linear-gradient(right, #e6e6e6 50%, white 98%);
    background-image: -webkit-linear-gradient(right, #e6e6e6 50%, white 98%);
    background-image: -ms-linear-gradient(right, #e6e6e6 50%, white 98%);
    background-image: -webkit-gradient(
      linear,
      right bottom,
      left bottom,
      color-stop(0.5, $gray),
      color-stop(0.98, white)
    );
  }
  &::after {
    content: '';
    flex: 1;
    height: 1px;
    background-color: #e6e6e6;
    width: 40%;
    background-image: linear-gradient(left, #e6e6e6 50%, white 98%);
    background-image: -o-linear-gradient(left, #e6e6e6 50%, white 98%);
    background-image: -moz-linear-gradient(left, #e6e6e6 50%, white 98%);
    background-image: -webkit-linear-gradient(left, #e6e6e6 50%, white 98%);
    background-image: -ms-linear-gradient(left, #e6e6e6 50%, white 98%);
    background-image: -webkit-gradient(
      linear,
      left bottom,
      right bottom,
      color-stop(0.5, $gray),
      color-stop(0.98, white)
    );
  }
}

.red-text {
  color: $danger;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

.thin-scrollbar {
  &::-webkit-scrollbar {
    height: 2px;
    width: 2px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: $secondary-light-color;
  }

  &::-webkit-scrollbar-track:hover {
    background-color: $primary-light-color;
  }

  &::-webkit-scrollbar-track:active {
    background-color: $primary-light-color;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: $secondary-color1;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: $primary-color1;
  }

  &::-webkit-scrollbar-thumb:active {
    background-color: $primary-color1;
  }
}

.btn {
  background-color: $primary-color1;
  color: white;
  font-weight: 600;
  padding: 6px 8px;
  @include apply-styles($border-styles);
  border-color: transparent !important;
  // -webkit-box-shadow: 4px 4px 5px 1px $secondary-color1;
  // -moz-box-shadow: 4px 4px 5px 1px $secondary-color1;
  // box-shadow: 4px 4px 5px 1px $secondary-color1;
  &:hover {
    @include apply-styles($btn-shadow-styles);
  }
  &.btn-red {
    background-color: $danger;
    // -webkit-box-shadow: 4px 4px 5px 1px $light-danger;
    // -moz-box-shadow: 4px 4px 5px 1px $light-danger;
    // box-shadow: 4px 4px 5px 1px $light-danger;
    transition: 300ms;
    &:hover {
      background-color: $white;
      @include apply-styles($btn-red-shadow-styles);
    }
  }
}

.radio-group {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;

  .radio-group_error {
    position: absolute;
    bottom: -1.15rem;
    left: 10px;
    font-size: 0.72rem;
    color: $danger;
  }
  & > div {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    .radio-group_input[type='radio'] {
      display: none; /* Hide the actual radio buttons */
      &:checked + label {
        background-color: #007bff;
        color: white;
        border-color: #007bff;
      }
    }

    .radio-group_label {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      background-color: transparent;
      white-space: nowrap;
      // transition: background-color 0.3s ease;
      @include apply-styles($dotted-border);
      &:hover {
        background-color: #ddd;
      }
      span {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.input-group {
  position: relative;
  .input-group_input {
    @include apply-styles($border-styles);
    background-color: transparent;
    outline: none;
    width: 100%;
    padding: 0.5rem 1rem;
    transition: all 0.15s ease-out;
    &:focus {
      // border: 2px solid $gray;
      -webkit-box-shadow: 0px 0px 0px 1px $gray;
      -moz-box-shadow: 0px 0px 0px 1px $gray;
      box-shadow: 0px 0px 0px 1px $gray;
    }
    &:focus ~ .input-group_label,
    &:valid ~ .input-group_label {
      top: 0px;
      background-color: $white;
      font-size: 0.85rem;
      color: black;
      .input-group_label_icon {
        font-size: 1.1rem;
        margin-right: 1px;
      }
    }
  }
  .input-group_label {
    position: absolute;
    font-size: 0.9rem;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: all 0.3s ease-out;
    color: $gray;
    .input-group_label_icon {
      transition: all 0.3s ease-out;
      font-size: 1.35rem;
      margin-right: 4px;
      margin-left: 2px;
    }
  }
  .input-group_error {
    position: absolute;
    bottom: -1.15rem;
    left: 10px;
    font-size: 0.72rem;
    color: $danger;
  }
}

.react-select-group {
  position: relative;
  .async-select .select__menu {
    position: relative;
  }
  .async-select:has(.select__control--is-focused) ~ label,
  .async-select:has(.select__control > .select__value-container--has-value)
    ~ label {
    top: 0px;
    background-color: white;
    font-size: 0.85rem;
    color: black;
  }
  .react-select-group_label {
    position: absolute;
    font-size: 0.9rem;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: 0.3s;
    color: $gray;
  }
  .react-select-group_error {
    position: absolute;
    bottom: -1.15rem;
    left: 10px;
    font-size: 0.72rem;
    color: $danger;
    transition: 0.3;
  }
}

.async-select {
  .select__control {
    @include apply-styles($border-styles);
    box-shadow: none;
    .select__placeholder {
      font-size: 0.9rem;
      color: $gray;
    }
    &--is-focused {
      .select__placeholder {
        color: red;
      }
    }
  }
}
