$primary-color: #3498db;
$secondary-color: #f8f9fa;
$base-font-size: 16px;

$border-radius: 6px;
$border-color: #747775;


$breakpoints: (
  'small': 576px,
  'medium': 768px,
  'large': 992px,
  'xlarge': 1200px,
  'xxlarge': 1400px,
);

$btn-shadow-styles: (
  box-shadow: 0px 0px 0px 3px rgba(116, 119, 117, 0.2),
);

$border-styles: (
  border: 1px solid $border-color,
  border-radius: $border-radius
);
